<form>
  <mat-card>
    <mat-card-title>Sign Up</mat-card-title>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Select City</mat-label>
        <mat-select  name="food">
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>      <mat-form-field>
        <input type="text" matInput placeholder="firstname">
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput placeholder="lastname">
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput placeholder="Mob.No">
      </mat-form-field>
      <mat-form-field>
        <input type="email" matInput placeholder="email">
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="password">
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="confirm password">
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</form>