mat-card {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 15%;

    p, h3 {
      text-align: center;
    }

    .row {
      display: flex;
      justify-content: space-between;
      
      div {
        padding: 10px;
      }
    }
  }
  
  hr {
    width: 200px;
    border: 1px dotted #d9232d;
  }
  
  .about-grid {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  // h3,
  // h2 {
  //   color: #d9232d;
  //   text-align: center;
  //   letter-spacing: 4px;
  //   font-weight: 400;
  // }
  // p {
  //   color: rgb(68, 68, 68);
  //   line-height: 2;
  // }
  mat-grid-tile {
    background-color: #f5f5f5;

    app-about-tile {
      height: 100%;
    }
  }

}
