<mat-card>
  <div class="container">
    <div>
      <h3>ABOUT US</h3>
      <hr>
      <p>EasyFix is our commitment to bring professionalism, good service and trust to the home repair service and
        maintenance business. We take immense pride in sending some of the most professional handymen to your homes to
        fix
        things that aren't working.
      </p>
    </div>
    <div class="row">
      <div class="column">
        <h3>Our Vision</h3>
        <hr>
        <p>
          To provide customers with home repair service experience that delights them and become their
          best-handy-friend.
        </p>
      </div>
      <div class="column">
        <h3>Our Values</h3>
        <hr>
        <p>
          We believe in our processes and in our people who lead them. We enjoy the power of empowerment and delegation.
      </div>
    </div>
  </div>
  <div class="about-grid">
    <h2>Our Services</h2>
    <hr>
    <mat-grid-list cols="2" rowHeight="2:1.4" [gutterSize]="'25px'">
      <mat-grid-tile *ngFor="let tile of aboutInfo">
        <app-about-tile [title]="tile.title" [description]="tile.description" [tileImage]="tile.image"
          (book)="bookNow($event)">
        </app-about-tile>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</mat-card>