<form>
    <mat-card>
        <mat-card-title>Login</mat-card-title>
        <mat-card-content>
            <mat-form-field>
                <input type="text" matInput placeholder="Mob.No">
            </mat-form-field>
            <mat-form-field>
                <input type="password" matInput placeholder="Password">
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions align="center">
            <button mat-raised-button color="primary">Login</button>
          </mat-card-actions>
    </mat-card>
</form>
