<mat-card>
  <mat-card-title>complete Booking Details</mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input type="text" matInput placeholder="FullName">
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Mob No.">
    </mat-form-field>
    <mat-form-field>
      <input type="email" matInput placeholder="EmailId">
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Address">
    </mat-form-field>
    <mat-form-field>
      <input type="date" matInput placeholder="Preferred Date">
    </mat-form-field>
    <mat-form-field>
      <input type="time" matInput placeholder="Preferred Time">
    </mat-form-field>
  </mat-card-content>
</mat-card>